{{- $fontDir := "" -}}
{{- if eq .chezmoi.os "darwin" }}
    {{- $fontDir = "Library/Fonts" }}
{{ else if eq .chezmoi.os "linux" }}
    {{- $fontDir = ".local/share/fonts" }}
{{ end -}}

["{{ $fontDir }}/IBMPlexMono"]
    type = "archive"
    url = {{ gitHubReleaseAssetURL "IBM/plex" "@ibm/plex-mono@1.0.0" "ibm-plex-mono.zip" | quote }}
    stripComponents = 4
    include = ["**/ttf/**"]
