README.adoc
dconf.ini
get-latest-release.sh

{{/* Linux Specific Files */}}
{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux
.config/autostart
.config/distrobox
.local/share
.var/app
{{- end }}

{{/* macOS Specific Files */}}
{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin
{{- end }}
