README.adoc
dconf.ini

{{/* Linux Specific Files */}}
{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/autostart/**
.config/distrobox/**
.local/share/**
.var/app/**
{{- end }}

{{/* Debian Specific Files */}}
{{- if or (ne .chezmoi.os "linux") (ne .chezmoi.osRelease.id "debian") }}
**/debian/**
{{ end -}}

{{/* Fedora Specific Files */}}
{{- if or (ne .chezmoi.os "linux") (ne .chezmoi.osRelease.id "fedora") }}
**/fedora/**
{{ end }}


{{/* macOS Specific Files */}}
{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{- end }}
