README.adoc
dconf.ini
get-latest-release.sh

{{/* Linux Specific Files */}}
{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux
.config/autostart
.config/distrobox
.local/share
.var/app
{{- end }}

{{- if eq .chezmoi.os "linux" }}
	{{/* Debian Specific Files */}}
	{{- if ne .chezmoi.osRelease.id "debian" -}}
	.chezmoiscripts/linux/debian/**
	{{ end -}}

	{{/* Fedora Specific Files */}}
	{{- if ne .chezmoi.osRelease.id "fedora" -}}
	.chezmoiscripts/linux/fedora/**
	{{ end -}}
{{ end }}


{{/* macOS Specific Files */}}
{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{- end }}
