[".emacs.d"]
    type = "git-repo"
    url = "https://github.com/16levels/minimal-emacs.d"
    refreshPeriod = "168h"

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/16levels/kickstart-modular.nvim"
    refreshPeriod = "168h"

[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"

[".vim/pack/completion/start/auto-pairs"]
    type = "git-repo"
    url = "https://github.com/jiangmiao/auto-pairs"
    refreshPeriod = "168h"

[".vim/pack/colorscheme/start/catppuccin"]
    type = "git-repo"
    url = "https://github.com/catppuccin/vim"
    refreshPeriod = "168h"

[".vim/pack/interface/start/lightline"]
    type = "git-repo"
    url = "https://github.com/itchyny/lightline.vim"
    refreshPeriod = "168h"

[".vim/pack/utility/start/vim-sleuth"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-sleuth"
    refreshPeriod = "168h"

[".config/bat/themes/Catppuccin Frappe.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Frappe.tmTheme"

[".config/bat/themes/Catppuccin Latte.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Latte.tmTheme"

{{- $fontDir := "" -}}
{{- if eq .chezmoi.os "darwin" }}
    {{ $fontDir = "Library/Fonts" }}
{{ else if eq .chezmoi.os "linux" }}
    {{ $fontDir = ".local/share/fonts" }}
{{ end -}}

{{- $iosevkaVersion := output (joinPath .chezmoi.sourceDir "get-latest-release.sh") "be5invis/Iosevka" | trim -}}
["{{ $fontDir }}/Iosevka.ttc"]
    type = "archive-file"
    url = "https://github.com/be5invis/Iosevka/releases/download/v{{ $iosevkaVersion }}/SuperTTC-Iosevka-{{ $iosevkaVersion }}.zip"
    path = "Iosevka.ttc"

["{{ $fontDir }}/IosevkaAile.ttc"]
    type = "archive-file"
    url = "https://github.com/be5invis/Iosevka/releases/download/v{{ $iosevkaVersion }}/SuperTTC-IosevkaAile-{{ $iosevkaVersion }}.zip"
    path = "IosevkaAile.ttc"

["{{ $fontDir }}/IosevkaTermNerdFont-Regular.ttf"]
    type = "archive-file"
    path = "IosevkaTermNerdFont-Regular.ttf"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/IosevkaTerm.tar.xz"
    refreshPeriod = "168h"
    exact = true
    stripComponents = 0

{{- $altArch := "" }}
{{- if eq .chezmoi.arch "amd64" }}
    {{ $altArch = "x86_64" }}
{{- else if eq .chezmoi.arch "arm64" }}
    {{ $altArch = "aarch64" }}
{{ end -}}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") }}
[".local/bin/starship"]
    type = "archive-file"
    path = "starship"
    refreshPeriod = "168h"
    url = "https://github.com/starship/starship/releases/latest/download/starship-{{ $altArch }}-unknown-linux-musl.tar.gz"

[".local/share/icons/hicolor/scalable/apps/ptyxis.svg"]
    type = "file"
    url = "https://gitlab.gnome.org/chergert/ptyxis/-/raw/main/data/icons/ptyxis.svg"
{{ end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") }}
{{ $fripperymoveclockVersion := "48.0" }}
[".local/share/gnome-shell/extensions/Move_Clock@rmy.pobox.com/"] 
    include = [".local/share/gnome-shell/extensions/Move_Clock@rmy.pobox.com/*"] 
    type = "archive"
    url = "https://frippery.org/extensions/gnome-shell-frippery-{{ $fripperymoveclockVersion }}.tgz"
    exact = true
    stripComponents =  5
{{ end -}}
