cmus/dot-config/cmus/autosave
cmus/dot-config/cmus/cache
cmus/dot-config/cmus/command-history
cmus/dot-config/cmus/lib.pl
cmus/dot-config/cmus/playlists
cmus/dot-config/cmus/search-history
tmux/dot-config/tmux/plugins/
