[submodule "tpm/dot-tmux/plugins/tpm"]
	path = tpm/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "emacs/dot-emacs.d"]
	path = emacs/dot-emacs.d
	url = https://github.com/16levels/minimal-emacs.d
[submodule "nvim/dot-config/nvim"]
	path = nvim/dot-config/nvim
	url = https://github.com/16levels/kickstart-modular.nvim
[submodule "vim/dot-vim/pack/plugins/start/vim-polyglot"]
	path = vim/dot-vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/dot-vim/pack/plugins/start/lightline"]
	path = vim/dot-vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/dot-vim/pack/plugins/start/vim-indent-guides"]
	path = vim/dot-vim/pack/plugins/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides.git
[submodule "vim/dot-vim/pack/plugins/start/auto-pairs"]
	path = vim/dot-vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/dot-vim/pack/plugins/start/catppuccin"]
	path = vim/dot-vim/pack/plugins/start/catppuccin
	url = https://github.com/catppuccin/vim
[submodule "vim/dot-vim/pack/plugins/start/vim-sleuth"]
	path = vim/dot-vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
