{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh


{{ if eq .chezmoi.osRelease.id "debian" }}
echo "Installing requested packages (deb)..."
sudo apt-get install -y {{ range .packages.linux.deb -}}{{ . | quote }} {{ end }}
sudo apt-get clean

{{ else if eq .chezmoi.osRelease.id "fedora" }}
{{ if eq .chezmoi.osRelease.variant "Workstation Edition" }}
echo "Installing requested packages (rpm)..."
sudo dnf -y install {{ range .packages.linux.rpm -}}{{ . | quote }} {{ end }}

{{ else if eq .chezmoi.osRelease.variant "Silverblue" }}
echo "Installing requested packages (rpm)..."
rpm-ostree install --idempotent {{ range .packages.linux.rpm -}}{{ . | quote }} {{ end -}}
{{ end }}
{{ end }}

{{ end -}}
