{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{ if eq .chezmoi.osRelease.id "fedora" }}
{{ if eq .chezmoi.osRelease.variant "Workstation Edition" }}
echo "Installing requested rpms..."
sudo dnf -y install {{ range .packages.linux.rpm -}}{{ . | quote }} {{ end -}}

{{ else if eq .chezmoi.osRelease.variant "Silverblue" }}
echo "Layering requested rpms..."
rpm-ostree install --idempotent {{ range .packages.linux.rpm -}}{{ . | quote }} {{ end -}}
{{ end }}
{{ end }}

{{ end -}}
