[Unit]
Description=Fedora Toolbx

[Container]
ContainerName=fedora
AutoUpdate=registry
DNS=none
Environment=TOOLBOX_PATH=/usr/bin/toolbox XDG_RUNTIME_DIR=%t
Exec=toolbox --log-level debug init-container --gid %G --home %h --shell %s --uid %U --user %u --home-link --media-link --mnt-link
Group=root
HostName=toolbx
Image=ghcr.io/16levels/fedora
Label=com.github.containers.toolbox=true
Mount=type=devpts,destination=/dev/pts
Network=host
PodmanArgs=--cgroupns host --ipc host --no-hosts --pid host --privileged
SecurityLabelDisable=true
Ulimit=host
User=root
UserNS=keep-id
Volume=/:/run/host:rslave
Volume=/dev:/dev:rslave
Volume=/run/dbus/system_bus_socket:/run/dbus/system_bus_socket
Volume=%h:%h:rslave
Volume=/usr/bin/toolbox:/usr/bin/toolbox:ro
Volume=%t:%t
Volume=/run/avahi-daemon/socket:/run/avahi-daemon/socket
Volume=/run/.heim_org.h5l.kcm-socket:/run/.heim_org.h5l.kcm-socket
Volume=/run/pcscd/pcscd.comm:/run/pcscd/pcscd.comm
Volume=/run/media:/run/media:rslave
Volume=/etc/profile.d/toolbox.sh:/etc/profile.d/toolbox.sh:ro
GlobalArgs=--log-level error

[Install]
WantedBy=default.target
