#!/bin/sh

{{ template "ensureFontPath.sh.tmpl" . -}}

# Iosevka NerdFont: Regular
curl -fsSL {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "IosevkaTerm.tar.xz" | quote }} | tar -C "$fontDir" -J -x "IosevkaTermNerdFont-Regular.ttf"
