{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Last Modified: {{ (stat (joinPath .chezmoi.homeDir ".config/containers/systemd")).modTime }}

echo "Reloading systemd units (user)..."
systemctl --user daemon-reload
{{- end }}
