{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Local Fonts:
{{ output "sh" "-c" "sha256sum ~/.local/share/fonts/* || sed s/^/# /" | trim }}

echo "Rebuilding font cache..."
fc-cache -f -v "$HOME/.local/share/fonts"
{{- end }}
